
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints


# Environmentss
.env
.venv
env/
pythonvenv/

### VisualStudioCode ###
.vscode/*


#ignore files 
*.ckpt*
nepali/
training/
*DS_Store
*.zip

